* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------- */

.container-big-flex {
    border: 5px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.container-nav-main {
    border: 5px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-left {
    border: 5px solid lightseagreen;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-logo, .nav-playlist, .nav-install-end {
    border: 5px solid orange;
    width: 40px;
    height: 40px;
}

.main-container {
    border: 5px solid violet;
    width: 100%;
}

.main-header {
    border: 5px solid orange;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.btn-upgrade {
    border: 5px solid blue;
    width: 150px;
    height: 40px;
}

.main-home {

}

.container-buttons-bar {
    border: 5px solid green;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-left, .buttons-center, .buttons-right {
    border: 5px solid orange;
    width: 40px;
    height: 40px;
}

/* ------------------------------------------------------- */
