* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}


/* ------------------------------------------------------- */
/* Generals */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

img {
    max-width: 100%;
}


li {
    list-style: none;
    color: #737373;
}

a {
    text-decoration: none;
    color: #737373;
    cursor: pointer;
}

/* ------------------------------------------------------- */
/* Container Nav Left e Main */

.container-nav-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* ------------------------------------------------------- */
/* Nav Left e Playlist */

.nav-left {
    /* border: 5px solid violet; */
    background-color: #000000;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-logo {
    width: 120px;
    height: 40px;
    padding: 10px;
}

/* ------------------------------------------------------- */
/* Home Cerca Libreria Section */

.nav-home-search-lib {
    /* border: 1px solid orange; */
    min-width: 40px;
    min-height: 40px;
}

.ul-hsl {
    padding: 20px;
    line-height: 2.5;
}

.home.active {
    color: white;
}

/* ------------------------------------------------------- */
/* Playlist */

.div-playlist {
    padding-left: 20px;
    padding-bottom: 10px;
}

.div-crea-playlist {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    align-items: center;
    padding-bottom: 10px;
}

.fas.fa-plus {
    color: black;
    background-color: #A3A3A3;
    width: 25px;
    height: 25px; 
    padding-top: 7px;
    padding-left: 7.5px;
    cursor: pointer;
}

.crea {
    color: #737373;
}

/* ------------------------------------------------------- */
/* Elenco Nome Playlist */

.nav-playlist {
    /* border: 1px solid orange; */
    min-width: 40px;
    min-height: 30px;
    padding-left: 20px;
    line-height: 2.5;
}

/* ------------------------------------------------------- */
/* Installa app e Nome Utente */

.nav-install-end {
    /* border: 1px solid orange; */
    min-width: 40px;
    min-height: 30px;
    flex-grow: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.download-install {
    color: #737373;
    order: 1;
}

.doe-wrapper {
    margin-right: 20px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #737373;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    
}

.profile-doe {
    background-color: #808080;
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    overflow: hidden;
    order: 0;
    
}

.profile-name {
    padding-top: 3px;
}

/* ------------------------------------------------------- */
/* Header e Home con Album e Artisti */

.main-container {
    width: 100%;
}

.main-header {
    background-color: #080B12;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.btn-upgrade {
    border: 5px solid blue;
    width: 150px;
    height: 40px;
}

.main-home {
    /* border: 5px solid lightgreen; */
    background-color: #141922;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-list-gen {
    border: 5px solid orange;
    width: 500px;
    height: 40px;
}

/* ------------------------------------------------------- */
/* Container ToolBar e Pulsanti */

.container-buttons-bar {
    background-color: #282828;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

/* ------------------------------------------------------- */
/* Comandi Sinistra */

.buttons-left {
    height: 90px;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.album {
    width: 40px;
    margin-left: 10px;
}

.album-title p {
    color: #737373;
}

.album-control {
    color: #737373;
    cursor: pointer;
}

.album-control i {
    padding: 5px;
}

/* ------------------------------------------------------- */
/* Comandi Centrali */

.buttons-center {
    border: 2px solid darkviolet;
    height: 90px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.trac-control i {
    
}

.trac-control {
    border: 2px solid lightgreen;
}

.trac-timeline {
    border: 2px solid yellow;    
}

.time-timeline {
    border: 2px solid lightsalmon;
}

/* ------------------------------------------------------- */
/* Comandi Destra */

.buttons-right {
    height: 90px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-volume {
    width: 160px;
    display: flex;
    flex-direction: row;
}

.volume-bar {
    background-color: rgb(115, 115, 115, 0.5);
    height: 5px;
    width: 100%;
    margin-left: 10px;
    align-self: center;
}

/* ------------------------------------------------------- */
