* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------- */

.container-big-flex {
    border: 5px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.container-nav-main {
    border: 5px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-left {
    border: 5px solid orange;
    width: 190px;
}

.main-home {
    border: 5px solid violet;
    width: 100%;
}

.container-buttons-bar {
    border: 5px solid green;
    width: 100%;
    height: 90px;
}

/* ------------------------------------------------------- */
