* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

/* ------------------------------------------------------- */
/* Generals */

body {
    width: 100vw;
    height: 100vh;
    color: white;
}

img {
    max-width: 100%;
}


li {
    list-style: none;
    color: #737373;
}

a {
    text-decoration: none;
    color: #737373;
    cursor: pointer;
}

/* ------------------------------------------------------- */
/* 10 Container Nav Left e Main */

.container-nav-main {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
}

/* ------------------------------------------------------- */
/* 20 Nav Left e Playlist */

.nav-left {
    /* border: 5px solid violet; */
    background-color: #000000;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-logo {
    width: 120px;
    height: 40px;
    padding: 10px;
}

/* ------------------------------------------------------- */
/* 30 Home Cerca Libreria Section */

.nav-home-search-lib {
    /* border: 1px solid orange; */
    min-width: 40px;
    min-height: 40px;
}

.ul-hsl {
    padding: 20px;
    line-height: 2.5;
}

.home.active {
    color: white;
}

/* ------------------------------------------------------- */
/* 40 Playlist */

.div-playlist {
    padding-left: 20px;
    padding-bottom: 10px;
}

.div-crea-playlist {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    align-items: center;
    padding-bottom: 10px;
}

.fas.fa-plus {
    color: black;
    background-color: #A3A3A3;
    width: 25px;
    height: 25px; 
    padding-top: 7px;
    padding-left: 7.5px;
    cursor: pointer;
}

.crea {
    color: #737373;
}

/* ------------------------------------------------------- */
/* 50 Elenco Nome Playlist */

.nav-playlist {
    /* border: 1px solid orange; */
    min-width: 40px;
    min-height: 30px;
    padding-left: 20px;
    line-height: 2.5;
}

/* ------------------------------------------------------- */
/* 60 Installa app e Nome Utente */

.nav-install-end {
    /* border: 1px solid orange; */
    min-width: 40px;
    min-height: 30px;
    flex-grow: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.download-install {
    color: #737373;
    order: 1;
    cursor: pointer;
}

.doe-wrapper {
    margin-right: 20px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #737373;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    
}

.profile-doe {
    background-color: #808080;
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    overflow: hidden;
    order: 0;
    
}

.profile-name {
    padding-top: 3px;
    cursor: pointer;
}

/* ------------------------------------------------------- */
/* 70 Header e Home con Album e Artisti */

.main-container {
    width: 100%;
    height: 100%;
}

.btn-upgrade {
    border: 1px solid white;
    border-radius: 9999px;
    margin-right: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.text-upgrade {
    align-self: center;
}

.main-header {
    background-color: #080B12;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

/* ------------------------------------------------------- */
/* 72 Elenco Evidenza Podcast Classifiche */

.main-home {
    /* border: 3px solid lightgreen; */
    background-color: #141922;
    height: calc(100vh - 170px);
    overflow-y: auto;
}

.home-list-gen {
    /* border: 1px solid orange; */
    width: 100%;
    padding: 20px;
    color: #737373;
}

.list-name-gen {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* ------------------------------------------------------- */
/* 75 Recently e Album con Nome */

.album-wrapper {
    /* border: 3px solid lightcoral; */
    height: 280px;
    width: 100%;
}

.album-name-play {
    margin: 0 20px 20px 20px;
}

.album-name-play.mar {
    margin-top: 20px;
}

.album-name-play strong {
    /* border: 1px solid greenyellow; */
    font-size: 18px;
}

.album-name-play p {
    color: #797D81;
}

.section-album-wrap {
    /* border: 3px solid lightskyblue; */
    display: flex;
    flex-wrap: wrap;
}

.album-card-list {
    /* border: 3px solid darkviolet; */
    margin: 0 20px;
    line-height: 2em;
    width: calc(80% / 6);
    cursor: pointer;
}

.album-card-list:hover i {
    display: block;
}

.album-card-list:hover .card-top::after {
    opacity: 0.4;
}

.card-top {
    position: relative;
}

.card-top.pop {
    border-radius: 999px;
    overflow: hidden;
}

.card-top::after {
    content: '';
    display: block;
    position: absolute;
    background-color: black;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-top i {
    position: absolute;
    z-index: 5;
    font-size: 60px;
    top: 35%;
    left: 35%;
    transform: calc(-50%, -50%);
    display: none;
}

.card-button strong {
    font-size: 15px;
}

.card-button p {
    color: #797D81;
}

.card-button {
    text-align: center;
}

/* ------------------------------------------------------- */
/* 80 Container ToolBar e Pulsanti */

.container-buttons-bar {
    background-color: #282828;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}

/* ------------------------------------------------------- */
/* 90 Comandi Sinistra */

.buttons-left {
    height: 90px;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.album {
    width: 40px;
    margin-left: 10px;
}

.album-title p {
    color: #737373;
}

.album-control {
    color: #737373;
    cursor: pointer;
}

.album-control i {
    padding: 5px;
}

/* ------------------------------------------------------- */
/* 100 Comandi Centrali */

.buttons-center {
    border: 2px solid darkviolet;
    height: 90px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.trac-control i {
}

.trac-control {
    border: 2px solid lightgreen;
}

.trac-timeline {
    border: 2px solid yellow;    
}

.time-timeline {
    border: 2px solid lightsalmon;
}

/* ------------------------------------------------------- */
/* 110 Comandi Destra */

.buttons-right {
    height: 90px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.btn-volume {
    width: 160px;
    display: flex;
    flex-direction: row;
}

.volume-bar {
    background-color: rgb(115, 115, 115, 0.5);
    height: 5px;
    width: 100%;
    margin-left: 10px;
    align-self: center;
}

/* ------------------------------------------------------- */
