* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

/* ------------------------------------------------------- */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.container-nav-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* ------------------------------------------------------- */

.nav-left {
    /* border: 5px solid violet; */
    background-color: #000000;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-logo, .nav-playlist, .nav-install-end {
    /* border: 5px solid orange; */
}

.nav-logo {
    width: 120px;
    height: 40px;
    padding: 10px;
}

.nav-playlist {
    width: 40px;
    height: 40px;
}

.nav-install-end {
    width: 40px;
    height: 40px;
}

/* ------------------------------------------------------- */

.main-container {
    width: 100%;
}

.main-header {
    background-color: #080B12;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.btn-upgrade {
    border: 5px solid blue;
    width: 150px;
    height: 40px;
}

.main-home {
    /* border: 5px solid lightgreen; */
    background-color: #141922;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-list-gen {
    border: 5px solid orange;
    width: 500px;
    height: 40px;
}

/* ------------------------------------------------------- */

.container-buttons-bar {
    background-color: #282828;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.buttons-left, .buttons-center, .buttons-right {
    border: 5px solid orange;
    width: 40px;
    height: 40px;
}

/* ------------------------------------------------------- */
